<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Python Three</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->

<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
      
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
             For Loop
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view2')">
           
		   If Condition
		  
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
		 print
        </li>
	
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
		 while loop
        </li>
		
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view5')">
		   Dictionary
        </li>
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
		   List
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view7')">
            Set
        </li>
		
		
	  <li class="topcoat-list__item" ng-click="slidePage('/view9')">
		Tuple
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
	 
		 Bytes Io

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">

		 String IO

	  </li>
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">
		Json IO

	  </li>
	  
	  
	 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		 Prime Number

	  </li>

	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Palindrome
  </li>
	  <!--
  
	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		Cinema Line

	  </li>   
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view18')">
		Flipping Game

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">

		FreeCash

	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">

		FootBall

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">

		Game

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">

		CapsLock

	  </li> 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">

	   IQ test

	  </li> 

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view24')">

	  String Task

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view25')">

		K String

	  </li>   
	 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view26')">

		Magnets

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view27')">

		 Word

	  </li>   

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view28')">

	    Towers

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view29')">

	   WaterMelon

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view30')">

	   Collecting Beat Is Fun

	  </li>   
	  <!--

	  <li class="topcoat-list__item" ng-click="slidePage('/view33')">

		Logistic Regression

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view34')">

		Demo

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view35')">

		Naive Bayes

	  </li>   
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view36')">
		
		Partitioning around mediods
	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view37')">

		Restricted Boltzman machine
		
	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view38')">

		Multi Class Ida
	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view39')">

		XG boost

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view40')">

	 Linear Regression

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view41')">

		Linear Discriminant Analysis

	  </li>
	  
	  
	  
    </ol>
	<!--
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
        <h1 class="centerize" ng-show="showURL" ng-swipe-right="showURL=false"><a href="http://devgirl.org">devgirl.org </a></h1>
    </div>
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
